<!DOCTYPE html>
<html>
<head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->	
</head>

<body class="blue darken-3">	  
    <div class="card-panel z-depth-2" id="login">
		<form action="/session/create" method="post" class="col s12">
			<div class="row logo-header">
				<div class="col s12 center-align">
					<img src="/images/logo-federacao.png" alt="FECET">
                    <p class="center-align grey-text text-darken-1">FEDERAÇÃO CEARENSE ESPORTIVA DE TAEKWONDO</p>
				</div>
			</div>
			
			<%  if(typeof flash !== 'undefined' && flash) { if(flash && flash.err) { %>
				<ul class="alert alert-success">
			<% Object.keys(flash.err).forEach(function(error) { %>
				<li><%- JSON.stringify(flash.err[error])  %></li>	
			<% }) %>	
				</ul>
			<% } } %>
			<div class="row no-margin">
				<div class="input-field col s12">
					<input id="email" name="email" type="email" class="validate">
					<label for="email" data-error="Invalid Email..." data-success="Ok...">Email</label>
				</div>
			</div>
			<div class="row no-margin">
				<div class="input-field col s12">
					<input id="password" name="password" type="password" class="validate">
					<label for="password" data-error="Invalid Password..." data-success="Ok...">Password</label>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col s12 input-field">
					<button class="col s12 btn waves-effect waves-light blue" type="submit">Login</button>
				</div>
			</div>
			<input type="hidden" name="_csrf" value="<%=_csrf%>">
		</form>
	</div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/dependencies/html2canvas/html2canvas.min.js"></script>
    <script src="/js/dependencies/html2canvas/html2canvas.svg.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="/js/custom.js"></script>
    <!--SCRIPTS END-->    
</body>
</html>