<div class="container">
	<div class="card-panel z-depth-2">
		<form action="/session/create" method="post" class="col s12">
			<div class="row">
				<div class="col s12">
					<span>Sign in with your account</span>
				</div>
			</div>
			
			<% if(flash && flash.err) { %>
				<ul class="alert alert-success">
			<% Object.keys(flash.err).forEach(function(error) { %>
				<li><%- JSON.stringify(flash.err[error])  %></li>	
			<% }) %>	
				</ul>
			<% } %>
			<div class="row no-margin">
				<div class="input-field col s12">
					<input id="email" name="email" type="email" class="validate">
					<label for="email" data-error="Invalid Email..." data-success="Ok...">Email</label>
				</div>
			</div>
			<div class="row no-margin">
				<div class="input-field col s12">
					<input id="password" name="password" type="password" class="validate">
					<label for="password" data-error="Invalid Password..." data-success="Ok...">Password</label>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col s12 input-field">
					<button class="col s12 btn waves-effect waves-light" type="submit">Login</button>
				</div>
			</div>
			<input type="hidden" name="_csrf" value="<%=_csrf%>">
		</form>
	</div>
</div>