<div class="container center ">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/images/logo-fecet.jpg">
    </div>
    
  </div>
</div>