<div class="container">
	<div class="card center">
		<form action="/user/create" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<input id="name" name="name" type="text" class="validate" value="<%=user.name%>">
					<label for="name" data-error="Invalid Name..." data-success="Ok...">Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="email" name="email" type="email" class="validate" value="<%=user.email%>">
					<label for="email" data-error="Invalid Email..." data-success="Ok...">Email</label>
				</div>
			</div>
		</form>
	</div>
</div>