<div class="container">
	<div class="center">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input id="name" name="name" type="text" disabled value="<%=user.name%>">
					<label for="name">Name</label>
				</div>
				<div class="input-field col s6">
					<input id="email" name="email" type="email" disabled value="<%=user.email%>">
					<label for="email">Email</label>
				</div>
			</div>
		</form>
	</div>
</div>