<div class="row center-align">
	<div class="">
		<table class="center bordered hoverable responsive-table" align=center>
			<thead>
				<tr>
					<th data-field="name">Name</th>
					<th data-field="email">Email</th>
				</tr>
			</thead>
			<tbody>
				<% _.each(athletes, function (athlete) { %>
					<tr>
						<td>
							<%=athlete.name %>
						</td>
						<td>
							<%=athlete.email %>
						</td>
					</tr>
					<% }) %>
			</tbody>
		</table>
	</div>
</div>