/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.paginate {
  	position: relative;
	margin-left: 45%;
	margin-top: 40px;
}

/* button dropdon in menu navbar */
.dropdown-button {
	width: 200px;	
}

.logo-main {
	margin-top: 20px;
}

/*
.paginate {
	width: 900px;
}

table {
	margin-top: 20px;
	width: 900px;
}

.card {
	margin-top: 20px;
	width: 900px;
	padding-left: 20px;
	padding-right: 20px;
}

.container {
  position: relative;
  width: 100%;
	.card {
		left: 50%;
		position: relative;
		transform: translateX(-50%);
	}
}
*/