/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* button dropdon in menu navbar */
.nav-menu-main {
	width: 200px;	
}

.dropdown-content li>a, .dropdown-content li>span{
	color: #1565c0; // blue darken-3
}

.pagination li.active{
	color: #2196f3;
	background-color: #2196f3;
}

.collapsible {
	.collapsible-list {
		height: 84px;
	}
	.collapsible-header {
		.collection {
		margin: 0px;
		border: none;
			.collection-item {
				background-color:rgba(0, 0, 0, 0.0);
				min-width: 200px;
				.a-icon-athlete{
					    position: absolute;
						top: 44px;
						left: 20px;
				}
				.a-background-to-icon-belt {
					position: absolute;
					right: 20px;
					bottom: 25px;
					.material-icons[class*=icon-belt] {
						position: absolute;
						top: -3px;
					}
				}
			}
		}
	}
	.collapsible-body {
		.container {
			.center {
				    padding-top: 10px;
			}
		}
	}
}

.sortAthlete {
    height: 40px;
	position: relative;
	[class*=a-sort] {
		position: absolute;	
	}
	.a-sort-name {
		left: 40px;
	}
	.a-sort-graduation {
		right: 30px;
	}
}

//Old list athlete
.tr-athlete {
	td {
		padding: 0px;
	}
	.td-icons {
		max-width: 45px;
	}
}

.collection {
	margin: 0px;
	border: none;
	.collection-item {
		background-color:rgba(0, 0, 0, 0.0);
		min-width: 200px;
		.a-icon-athlete{
			position: absolute;
			bottom: 0px;
			left: 25px;
		}
	}
}

.material-icons.icon-sort { 
}

.material-icons[class*=icon-belt] {
	font-size: 38px;
}

.material-icons[class*=icon-belt-black] {
	color: black;
}

.material-icons.icon-amber { 
	color: #ffc107; 
}

.material-icons.icon-green { 
	color: #4caf50; 
}

.material-icons.icon-belt-white { 
	color: white;
}

.material-icons.icon-belt-purple { 
	color: purple;
}	

.material-icons.icon-belt-orange { 
	color: orange;
}	

.material-icons.icon-belt-yellow { 
	color: yellow;
}	

#modalCardAthlete {
	width: 1070px;
	#cardAthlete {
		background-image: url(../images/carteira-colorida.jpg); 
		height: 361px; 
		width: 1000px;
		position: relative;
		.cardAthleteDivImgCardPhotoTop{
			top: 34px; //45
			left: 33px; //33
			position: absolute;
			#athleteCardPhoto {
				width: 126px; //125
				height: 176px; //156
			}
		}
		.cardAthleteDivP{
			left: 550px; 
			position: absolute;
		}
		.cardAthleteDivPCardNameTop{
			top: 70px;
		}
		.cardAthleteDivPCardGraduationTop{
		 	top: 95px;
		}
		.cardAthleteDivPCardAcademyTop{
		 	top: 120px;
		}
		.cardAthleteDivPCardDateStartedTop{
		 	top: 145px;
		}
		.cardAthleteDivPCardBloodGroupTop{
		 	top: 170px;
		}
		.cardAthleteDivPCardRHFactorTop{
		 	top: 195px;
		}
		.cardAthleteDivPCardNaturalnessTop{
		 	top: 220px;
		}
		.cardAthleteDivPCardBdayTop{
		 	top: 245px;
		}
		.cardAthleteDivPCardRegisterNumberTop{
		 	top: 270px;
		}
		.cardAthleteDivPCardValidityTop{
		 	top: 295px;
		}
	}
}


.main-logo {
	width: 50%;
}

.brand-logo {
    background: url(/images/logo-federacao-clean-64x65.png) center left no-repeat
}

.imgFrame {
    /* We enforce aspect-ratio here, 4:3 for this example */
    position: relative;
    text-align: center;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}

.innerFrame {
    /*
    This block will take up the full height and width of the containing
    block which enforces an aspect ratio

    We set font-size to zero to remove inline-block spacing

    */
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 0;
}

.innerFrame:before,
.frameBefore {
    /*

    Set an inline element that has full height of container and
    vertical alignment set to middle. The following image will align
    to this

    */
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.innerFrame img {
    /*

    Make sure the image stays vertically aligned, and allow it to resize

    */
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}