/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

table {
	margin-top: 20px;
	width: 900px;
}

.paginate {
	width: 900px;
}

.pagination {
	margin-top: 40px;
}

.dropdown-button {
	width: 150px;	
}

.card {
	margin-top: 20px;
	width: 900px;
	padding-left: 20px;
	padding-right: 20px;
}

.logo-main {
	margin-top: 20px;
}

.container {
  position: relative;
  width: 100%;
	.card {
		left: 50%;
		position: relative;
		transform: translateX(-50%);
	}
}